extends layout

block content
    div.info
        h1= pageHeader.title
        p #{pageHeader.strapLine}
        .error= message
    div.regiones
        each lugar in regiones
            .region-block
                h4
                    a(href=`/region/${lugar._id}`)=lugar.region
                p Parques Nacionales : #{lugar.numParques}
