extends layout

block content
    div.info
        h1= pageHeader.title
        p #{pageHeader.strapLine}
    div.regiones
        each lugar in region.infoParque
            .region-block
                h4 #{lugar.nombre}
                p Hectareas : #{lugar.extension}
                p Provincias:
                    ul
                        each provincia in lugar.provincias
                            li.provin #{provincia}
